{% extends 'base.html.twig' %}

{% block title %}Promo{% endblock %}

{% block body %}

    {# TODO: refactor - should be in a seperated file ? #}
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('set_expired_deal', { 'id': deal.id }) }}" class="btn btn-warning">Mettre le deal en expiré</a>
    {% else %}
        <a href="btn btn-primary">Expiré ?</a>
        <a href="btn btn-danger">Signaler</a>
    {% endif %}

    {% include('partials/component/navbar/category-route-navbar.html.twig') with {'good_plan_categories': deal.categories} %}
    <div class="container-fluid bg-secondary">
        <div class="container mt-3 mb-3">
            <div class="row">
                <div class="col-lg-9 col-12 order-lg-1 order-2">
                    <div class="bg-white rounded mt-3">
                        <div class="row p-3">
                            <div class="col-12 col-md-4">
                                <a class="text-decoration-none text-dark d-flex justify-content-center" href="{{ deal.link }}" target="_blank">
                                    <img class="img-fluid" src="http://via.placeholder.com/300x180" alt="">
                                </a>
                            </div>
                            <div class="col-12 col-md-8">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn text-primary">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn text-danger fw-bold">
                                        {{ deal | display_hot_value }}°
                                    </button>
                                    <button type="button" class="btn text-danger">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <h4 class="card-title fw-bold">{{ deal.title|capitalize }}</h4>
                                <p>
                                    <span class="text-danger">
                                        -
                                        {# -{{ deal.price }}€ #}
                                        {{ deal.promoType.type }}
                                    </span>
                                        {% if deal.partner %}
                                            <span class="text-muted">| Codes promo </span>
                                            <a class="text-primary text-decoration-none"
                                               href="#">{{ deal.partner.name }}</a>
                                        {% endif %}
                                </p>
                                <div class="row">
                                    <a class="btn btn-primary col-6" type="button" target="_blank"
                                       href="{{ deal.link }}">
                                        <span>Profiter du code</span>
                                        <i class="fas fa-external-link-square-alt"></i>
                                    </a>
                                    <a class="btn btn-outline-secondary col-4" type="button">
                                        <span>{{ deal.promoCode }}</span>
                                    </a>
                                    <button class="btn btn-primary col-2">
                                        <i class="fas fa-external-link-square-alt"></i>
                                    </button>
                                </div>
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-lg-6 col-12">
                                        <p>{{ deal.author.username }}</p>
                                    </div>
                                    <div class="col-lg-6 col-12 row flex-nowrap">
                                        <a class="btn text-dark text-decoration-none col-3 border-dark border-1 m-3"
                                           href="{{ path('good_plan_show',{slug : deal.slug}) }}" type="button">
                                            <i class="fas fa-comment"></i>
                                            <span>{{ deal.comments|length }}</span>
                                        </a>
                                        <a class="btn btn-primary col-6 m-3" type="button" target="_blank"
                                           href="{{ deal.link }}">
                                            <span>Voir le deal</span>
                                            <i class="fas fa-external-link-square-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-3 border rounded">
                            {% set time = date(deal.createdAt).diff(date('now')) %}
                            <p class="text-muted align-items-center m-3">
                                <i class="far fa-clock"></i>
                                <span>{{ deal.createdAt|date('d M Y') }}</span>
                                {% if time.h > 0 and time.d == 0 and time.m == 0 %}
                                    <span>( il y a {{ time.h }} h et {{ time.i }} )</span>
                                {% elseif time.s > 0 and time.h == 0 and time.d == 0 and time.m == 0 %}
                                    <span>( il y a {{ time.i }} )</span>
                                {% endif %}
                            </p>
                        </div>
                        <p class="p-3">
                            {{ deal.description }}
                        </p>
                    </div>
                    {% include('partials/component/comment/comment-area.html.twig') %}
                </div>
                {% include('partials/component/navbar/sidebar.html.twig') %}
            </div>
        </div>
    </div>
{% endblock %}