{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="container-fluid login">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form method="post" class="box">
                            {% if error is defined and error is not null %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                            <label for="inputEmail" class="text-white text-decoration-underline">Email</label>
                            <input type="email" value="{{ last_username is defined ? last_username : '' }}" name="email"
                                   id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                            <label for="inputPassword" class="text-white text-decoration-underline">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="checkbox mb-3">
                                <label class="text-white">
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>

                            <input type="hidden" name="_target_path" value="{{ referer }}"/>

                            <button type="submit" class="btn">
                                Envoyer
                            </button>

                            <p>
                                <a class="text-muted text-decoration-none" href="{{ path('app_register') }}">Créer un
                                    compte ?</a>
                            </p>
                            <a class="text-muted text-decoration-none" href="{{ path('app_forgot_password_request') }}">Vous
                                avez oublié votre mot de passe ?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
