{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="col-12">
                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                    </div>

                    {{ form_start(registrationForm, {'attr': {'class': 'box'}}) }}

                    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
                    {{ form_row(registrationForm.email, {'label_attr': {'class': 'text-white text-decoration-underline'}}) }}
                    {{ form_row(registrationForm.username, {'label_attr': {'class': 'text-white text-decoration-underline'}}) }}
                    {{ form_row(registrationForm.plainPassword, {'label_attr': {'class': 'text-white text-decoration-underline'}}) }}
                    {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'text-white text-decoration-underline'}}) }}

                    <button type="submit" class="btn">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
