<div class="card mt-3 mb-3">
    <div class="card-horizontal card-minus">
        <div class="col-2 col-md-4 m-3">
            <a class="text-decoration-none text-dark" href="{{ path('good_plan_show',{slug : deal.slug}) }}">
                {% if deal.picture and file_exists(deal.picture.getSrc) %}
                    <img class="img-fluid" src="{{ asset(deal.picture.getSrc) }}" alt="">
                {% else %}
                    <img class="img-fluid" src="http://via.placeholder.com/300x180" alt="">
                {% endif %}
            </a>
        </div>
        <div class="card-body col-10 col-md-8">
            <a class="text-decoration-none text-dark" href="{{ path('good_plan_show',{slug : deal.slug}) }}">
                <h5 class="card-title fw-bold">
                    <span class="text-danger">
                        {{ deal | display_hot_value }}°
                    </span>
                    {{ deal.title|capitalize }}
                </h5>
            </a>
            <p>
                <span class="text-danger">
                    {{ deal.price }}€
                </span>
            </p>
        </div>
    </div>
</div>