<div class="card mt-3 mb-3">
    <div class="card-horizontal">
        <div class="col-1 col-md-4 m-3 m-3">
            <a class="text-decoration-none text-dark" href="{{ path('promo_show',{slug : deal.slug}) }}">
                {% if deal.picture and file_exists(deal.picture.getSrc) %}
                    <img class="img-fluid" src="{{ asset(deal.picture.getSrc) }}" alt="">
                {% else %}
                    <img class="img-fluid" src="http://via.placeholder.com/300x180" alt="">
                {% endif %}
            </a>
        </div>
        <div class="card-body col-11 col-md-8">
            <div class="row justify-content-between ">
                <div class="col-8">
                    <div class="btn-group" role="group">
                        {% include 'partials/component/rating/rating.html.twig' with { "deal": deal } %}
                    </div>
                </div>
                <p class="col-4 text-muted text-right align-items-center m-0 align-items-center">
                    {% set time = date(deal.createdAt).diff(date('now')) %}
                    <span>
                        <i class="fas fa-fire-alt"></i>
                        {% if time.d > 0 %}
                            {{ deal.createdAt|date('d M') }}
                        {% elseif time.h > 0 and time.d == 0 and time.m == 0 %}
                            il y a {{ time.h }} h et {{ time.i }}
                        {% elseif time.s > 0 and time.h == 0 and time.d == 0 and time.m == 0 %}
                            il y a {{ time.i }}
                        {% endif %}
                    </span>
                </p>
            </div>
            <a class="text-decoration-none text-dark" href="{{ path('promo_show',{slug : deal.slug}) }}">
                <h4 class="card-title fw-bold">{{ deal.title|capitalize }}</h4>
            </a>
            <p>
                <span class="text-danger">
                    -
{# -{{ deal.price }}€ #}
                    {{ deal.promoType.type }}
                </span>
                {% if deal.partner %}
                    <span class="text-muted">| Codes promo </span>
                    <a class="text-primary text-decoration-none" href="#">{{ deal.partner.name }}</a>
                {% endif %}
            </p>
            <div class="row">
                <a class="btn btn-primary col-6" type="button" target="_blank" href="{{ deal.link }}">
                    <span>Profiter du code</span>
                    <i class="fas fa-external-link-square-alt"></i>
                </a>
                <a class="btn btn-outline-secondary col-4" type="button">
                    <span>{{ deal.promoCode }}</span>
                </a>
                <button class="btn btn-primary col-2">
                    <i class="fas fa-external-link-square-alt"></i>
                </button>
            </div>
            <div class="card-text">
                {{ deal.description|length > 100 ? deal.description|slice(0, 100) ~ '...' : deal.description|raw }}
                <a class="text-decoration-none text-dark fw-bold"
                   href="{{ path('promo_show',{slug : deal.slug}) }}">Afficher plus</a>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-9 col-3">
                    <p>{{ deal.author.username }}</p>
                </div>
                <div class="col-lg-3 col-9 justify-content-end d-flex">
                    <a class="btn text-dark text-decoration-none border-dark border-1 m-3"
                       href="{{ path('promo_show',{slug : deal.slug}) }}" type="button">
                        <i class="fas fa-comment"></i>
                        <span>{{ deal.comments|length }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
