<div class="bg-dark row text-white rounded">
    <p class="m-2"><i class="fas fa-comment-alt"></i> {{ deal.comments|length }} commentaires</p>
</div>
<div class="bg-white rounded p-3" id="comment">
    {% for comment in deal.comments | sort((commentA, commentB) => commentA.createdAt < commentB.createdAt) %}
        <div class="row">
            <div class="col-2">
                {% if comment.author.avatar and file_exists(comment.author.avatar.getSrc) %}
                    <img class="img-fluid rounded-circle" src="{{ asset(comment.author.avatar.getSrc) }}" alt="">
                {% else %}
                    <img class="img-fluid rounded-circle" src="http://via.placeholder.com/300x180" alt="">
                {% endif %}
            </div>
            <div class="col-10">
                <div class="row">
                    <p>
                        <span>
                            {{ comment.author.username }}
                        </span>
                        {% set time = date(comment.createdAt).diff(date('now')) %}
                        <span>
                            {% if time.d > 0 %}
                                {{ comment.createdAt|date('d M') }}
                            {% elseif time.h > 0 and time.d == 0 and time.m == 0 %}
                                il y a {{ time.h }} h et {{ time.i }} min
                            {% elseif time.i > 0 and time.h == 0 and time.d == 0 and time.m == 0 %}
                                il y a {{ time.i }} min
                            {% elseif time.s > 0 and time.h == 0 and time.d == 0 and time.m == 0 %}
                                il y a {{ time.i }} s
                            {% endif %}
                        </span>
                    </p>
                    <div>{{ comment.content|raw }}</div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
</div>

<div class="bg-white rounded p-3">
    {% if app.user %}
        {{ form_start(commentForm) }}
        <div class="row">
            <div class="col-2">
                {% if app.user.avatar and file_exists(app.user.avatar.getSrc) %}
                    <img class="img-fluid rounded-circle" src="{{ asset(app.user.avatar.getSrc) }}" alt="">
                {% else %}
                    <img class="img-fluid rounded-circle" src="http://via.placeholder.com/300x180" alt="">
                {% endif %}
            </div>
            <div class="col-10">
                <div class="row">
                    {{ form_widget(commentForm.content) }}
                    <button class="btn btn-primary mt-3" type="submit">
                        <p class="m-0">Envoyer <i class="fas fa-comment"></i></p>
                    </button>
                    {{ form_end(commentForm) }}
                </div>
            </div>
        </div>
    {% endif %}
</div>