{% extends '/pages/profil/layout_profil.html.twig' %}
{% block main_profile_section %}
    <div class="row rounded m-3 mb-0 bg-white">
        <a class="btn col-6 text-primary {% if app.request.attributes.get('_route') != 'profil_overview' %} btn-light text-dark{% endif %}"
           href="{{ path('profil_overview') }}">Activité</a>
        <a class="btn col-6 text-primary {% if app.request.attributes.get('_route') != 'profil_badges' %} btn-light text-dark{% endif %}"
           href="{{ path('profil_badges') }}">Badges</a>
    </div>
    <div class="row rounded m-3 mt-0 bg-white">
        {% for badge in badges %}
            <div class="row">
                <div class="col-3 d-flex align-items-center justify-content-center">
                    <i class="fas fa-ribbon {% if app.user.badges.contains(badge) %}text-success{% else %}text-secondary{% endif %} display-3"></i>
                </div>
                <div class="col-9">
                    <h3>{{ badge.title }}</h3>
                    <div class="progress">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: {% if app.user.badges.contains(badge) %}100{% else %}{{ compute_progress(badge, app.user) }}{% endif %}%"
                             aria-valuenow="{% if app.user.badges.contains(badge) %}100{% else %}{{ compute_progress(badge, app.user) }}{% endif %}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                        </div>
                    </div>
                    <p>{{ badge.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


