{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.username }}{% endblock %}

{% block body %}
    <div class="container-fluid bg-dark text-white">
        <div class="container mt-3 mb-3">
            <div class="row">
                <div class="col-2">
                    {% if app.user.avatar and file_exists(app.user.avatar.getSrc) %}
                        <img class="img-fluid rounded-circle" src="{{ asset(app.user.avatar.getSrc) }}" alt="">
                    {% else %}
                        <img class="img-fluid rounded-circle" src="http://via.placeholder.com/300x180" alt="">
                    {% endif %}
                </div>
                <div class="col-8">
                    <h1>{{ app.user.username }}</h1>
                    <div class="row">
                        <p>Inscrit(e) depuis le ... <span class="text-success">En ligne</span></p>
                    </div>
                </div>
                <div class="col-2">
                    <a href="{{ path('profil_delete_account') }}" class="btn btn-danger">Supprimer mon compte</a>
                </div>
            </div>
        </div>
    </div>
    {% include('partials/component/navbar/filter-navbar.html.twig') with
        {
            'title': 'Aperçu',
            'default' : path('profil_overview'),
            'links': {
            'Deals ()': path('profil_published_deals'),
            'Deals sauvegardés () ': path('profil_saved_deals'),
            'Mes alertes () ': path('profil_keyword_alarms')
        }
        } %}
    <div class="container-fluid bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 rounded mt-3 bg-white h-100">
                    <h3>Statistiques</h3>
                    <h4 class="text-muted">Posts</h4>
                    <p><strong>{{ stat_nb_published_deals(app.user) }}</strong> deal(s)</p>
                    <p><strong>{{ stat_nb_published_comments(app.user) }}</strong> commentaire(s)</p>
                    <h4 class="text-muted">Palmarès</h4>
                    <p><strong>{{ stat_hottest_published_deal_rate(app.user) }}°</strong> deal le plus hot</p>
                    <p>0° en moyenne depuis 1 an</p>
                    <p>0% de deals hot</p>
                </div>
                <div class="col-lg-9 col-12">
                    {% block main_profile_section %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
