<button type="button" class="btn text-primary"
        {% if deal is defined and app.user is not empty %}
            data-user-id="{{ app.user.id }}"
            data-rating-btn
            data-deal-id="{{ deal.id }}"
            data-value="-1"
        {% else %}
            disabled
        {% endif %}
>
    <i class="fa fa-minus"></i>
</button>
<button type="button" class="btn text-danger fw-bold" data-deal-hot-value>
    {{ deal | display_hot_value }}°
</button>
<button type="button" class="btn text-danger"
        {% if deal is defined and app.user is not empty %}
            data-user-id="{{ app.user.id }}"
            data-rating-btn
            data-deal-id="{{ deal.id }}"
            data-value="1"
        {% else %}
            disabled
        {% endif %}
>
    <i class="fas fa-plus"></i>
</button>
